/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* font-family: 'Roboto', sans-serif; */
   position: relative;
   overflow-x: hidden;
}

:root {
   --main-cl: #ffffff;
   --button-cl: #e50914;
   --dark-cl: #202020;
   --extra-dark-cl: #121212;
   --light-gray: #313131;
   --gray-cl: #1e1e21;
   --body-background-cl: #181818;
   --smooht-gray-cl: #f1f1f1;
   --google-button-cl: #4c8cf1;
   --timer-bg-cl: #fb7412;
   --spec-base-background: #0f0f0f;
   --spec-elevated-background: #212121;
   --spec-menu-background: #2f2f2f;
   --spec-elevated-background-inverse: #f1f1f1;
   --spec-filled-container: rgba(255, 255, 255, 0.1);
   --spec-outlined-container: rgb(85, 84, 84);
   --spec-brand-background-solid: #212121;
   --spec-brand-background-primary: rgba(33, 33, 33, 0.98);
   --spec-brand-background-secondary: rgba(33, 33, 33, 0.95);
   --spec-general-background-a: #181818;
   --spec-general-background-b: #0f0f0f;
   --spec-general-background-c: #030303;
   --spec-error-background: #edebeb;
   --spec-text-primary: #fff;
   --spec-text-secondary: rgb(192, 192, 192);
   --spec-text-disabled: #b7b7b7;
   --spec-text-primary-inverse: #030303;
   --spec-call-to-action: #3ea6ff;
   --spec-call-to-action-inverse: #065fd4;
   --spec-suggested-action: #263850;
   --spec-icon-active-other: #fff;
   --spec-icon-inactive: #909090;
   --spec-icon-disabled: #606060;
   --spec-badge-chip-background: rgba(255, 255, 255, 0.1);
   --spec-verified-badge-background: rgba(255, 255, 255, 0.25);
   --spec-button-chip-background-hover: rgba(255, 255, 255, 0.2);
   --spec-touch-response: #fff;
   --spec-touch-response-inverse: #000;
   --spec-brand-icon-active: #fff;
   --spec-brand-icon-inactive: #909090;
   --spec-brand-link-text: #ff4e45;
   --spec-wordmark-text: #fff;
   --spec-10-percent-layer: rgba(255, 255, 255, 0.1);
   --spec-snackbar-background: #030303;
   --spec-snackbar-background-updated: #f9f9f9;
   --spec-error-indicator: #ff8983;
   --spec-themed-blue: #3ea5ffca;
   --spec-themed-green: #2ba640;
   --spec-ad-indicator: #00aaa7;
   --spec-themed-overlay-background: rgba(0, 0, 0, 0.3);
   --spec-themed-overlay: rgba(0, 0, 0, 0.1);
   --spec-commerce-badge-background: #002d08;
   --spec-static-brand-red: #f00;
   --spec-static-brand-white: #fff;
   --spec-static-brand-black: #4b4a4a;
   --spec-static-clear-color: rgba(255, 255, 255, 0);
   --spec-static-clear-black: rgba(0, 0, 0, 0);
   --spec-static-ad-yellow: #fbc02d;
   --spec-static-grey: #343434;
   --spec-static-overlay-background-solid: #000;
   --spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);
   --spec-background-overlay-color: rgba(0, 0, 0, 0.312);
   --spec-background-gry-cl: #202122;
   --spec-background-cl: #1e1e20;
   --spec-dark-background-color: #1b1d21;
   --icon-cl: #868b99;
   --dark-gray-spec-color: #141618;
   --smooth-light-color: #ced5db;
   --smooth-light-heading-color: #e3e7eb;
   --spec-white-color: #d0d1d3;
   --smooth-sky-cl: #179693;
}

/* width */
::-webkit-scrollbar {
   width: 2px;
   height: 5px;
   border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.ant-popover-inner {
   max-width: 200px;
}

table {
   width: 100%;
}

table tr {
   text-align: left;
}

table th {
   font-size: 14px;
   color: var(--smooth-light-color);
   font-weight: 400;
   padding: 0.8rem 0.2rem;
}

table td {
   padding: 0.8rem 0;
   color: var(--smooth-light-color);
}

.closeBtn_div {
   position: absolute;
   right: -20px;
   top: -20px;
   background-color: var(--main-cl);
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   box-shadow: 0 0 10px 1px var(--spec-themed-overlay-background);
   cursor: pointer;
}

.side_padding_one {
   padding: 0 80px;
}

.side_padding_two {
   padding: 0 150px;
}

.side_padding_three {
   padding: 0 170px;
}

.top_padding {
   padding: 30px 0;
}

.top_padding_one {
   padding: 60px 0;
}

.top_padding_two {
   padding: 80px 0;
}

a {
   text-decoration: none;
}

@media screen and (min-width: 1920px) {
   .side_padding_one {
      padding: 0 200px;
   }
}
@media screen and (min-width: 3840px) {
   .side_padding_one {
      padding: 0 200px;
   }
}
